* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body,
html {
    overflow-x: hidden;
}

.nav-bar {
    overflow: hidden;
    width: 900px;
    height: 60px;
    display: flex;
    background: white;
    position: fixed;
    top: 0;
}

.header{
    color: #ac9454;
    margin: auto 15px auto 40px;
    width: 20%;
    text-align: center;
    font-size: 10px;
}

.nav-links{
    margin: auto 20px auto 10px;
    width:80%;
    text-align: right;
}

.nav-links a{
    font-size: 12px;
    margin:auto 30px auto 10px;
    color:black;
    text-decoration: none;
}

.nav-links a:hover{
    color:#ac9454;
    text-decoration: none;
}

.main_heading {
    color: white;
    text-align: center;
    margin: auto;
    font-size: 35px;
    width: 50%;
    padding: 200px 0;
    letter-spacing: 10px;
    font-family: 'Hoefler Text', serif;
    line-height: 1.5;
}

.hero-component {
    background-image: url('image3.png');
    height: 600px;
    width: 900px;
    top: 60px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 900px 750px;
}

.service-component {
    width: 900px;
}

.service-component div.service-wrapper{
    margin:50px auto;
    width:800px;
    height:400px;
    display:flex;
}

.service{
    background-image: url('flower.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:250px;
    margin-right:25px;
}

.service-header{
    color:white;
    font-size: 20px;
    letter-spacing: 6px;
    text-align:center;
    margin:90px 0px 10px 0px;
}

.service-phrase{
    color: white;
    font-size: 12px;
    font-family: 'Hoefler Text', serif;
    margin: 80px 20px 10px 20px;
    text-align: center;
    letter-spacing: 2px;
    line-height: 2.5;
}

.discover-btn{
    color: white;
    font-size: 12px;
    margin: 40px 35px 10px 40px;
    text-align: center;
    line-height: 2;
    border: 0.5px solid white;
    padding: 6px;
}

.service-img{
    width:550px;
    margin-left:25px;
    float:right;
    background-image: url('image1.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;

}

.comment-component {
    width: 900px;
}

.comment-wrapper{
    background: white;
    margin:50px auto;
    width:800px;
    height:300px;
    text-align: center;
}

.quote{
    color: black;
    font-size: 60px;
    font-family: 'Bentham', serif;
    line-height: 1.5;
    margin: 80px auto 0px auto;
    height: 80px;
}

.comment{
    color: black;
    font-size: 25px;
    font-family: 'Hoefler Text', serif;
    letter-spacing: 2px;
    line-height: 1.5;
    margin: 0px 199px;
}

.user{
    color:#ac9454;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 40px auto;
}

.gallery-component {
    width: 900px;
}

.gallery-wrapper{
    margin:50px auto;
    width:800px;
    height:500px;
    display:flex;
    background-image: url('image2.png');
    background-attachment: fixed;
    background-repeat: inherit;
    background-size: 1079px 1330px;
}

.gallery{
    width:250px;
    height:400px;
    margin: 50px 0px 50px 500px;
    background-image: url('flower.png');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.gallery-header{
    color:white;
    font-size: 20px;
    letter-spacing: 10px;
    text-align:center;
    margin:90px 0px 10px 0px;
}

.gallery-phrase{
    color: white;
    font-size: 15px;
    font-family: 'Hoefler Text', serif;
    margin: 70px 30px 10px 30px;
    text-align: center;
    letter-spacing: 4px;
    line-height: 2.5;
}


.footer-component {
    width: 900px;
}

.footer-wrapper{
    background: #ac9454;
    margin: 90px auto 30px auto;
    width: 800px;
    height: 150px;
    display: flex;
}

.contact-wrapper{
    width: 450px;
    margin: 40px 0px 40px 50px;
    display: flex;
    font-size: 10px;
    color: white;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

.address{
    width: 150px;
    height: 50px;
    margin: auto 10px auto 0px;
    border-right: 0.5px solid #ffe5dd;
    padding: 0px 20px 0px 30px;
}
.telephone{
    width: 150px;
    height: 50px;
    margin: auto 10px auto 0px;
    border-right: 0.5px solid #ffe5dd;
    padding: 0px 20px 0px 10px;
}

.trademark{
    width: 200px;
    height: 50px;
    margin: auto 0px auto 0px;
    padding: 0px 0px 0px 10px;
}

.book-btn{
    width: 200px;
    border: 0.5px solid #ffe5dd;
    margin: 55px 90px 55px 40px;
    font-size: 12px;
    align-items: center;
    justify-content: center;;
    display: flex;
    color: white;
}